html{
    height: 100vh;
}

*{
    color: white;
    font-family: jetmono;
}

body{
    background: linear-gradient(0deg,rgba(24, 168, 240, 1) 0%, rgba(92, 182, 255, 1) 50%);
}

@font-face {
    font-family: jetmono;
    src: url(../assets/fonts/JetBrainsMono-Regular.ttf);
}

.website-row-container{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.sidebar-container{
    padding-left: 25px;
    box-sizing: border-box;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 80vh;
}

.content-container{
    width: 75%;
    margin: 0;
    padding: 0;
}

.website-logo{
    width: 15vw;
    height: 15vw;
}

.mail-link{
    text-decoration: none;
    transition: 0.5s;
}

.mail-link:hover{
    text-decoration: underline;
}

.projects-container{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
    justify-content: center;
}

.project-box-container{
    transition: 0.5s;
    width: 350px;
    aspect-ratio: 3 / 2;
    background-color: white;
    border-radius: 5px;
}

.project-box-container:hover{
    width: 360px;
}